<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Is it hard to learn Angular with Javascript from zero? | Frontend Blogs</title>
  <link rel="shortcut icon" href="../imgs/favicon/webt.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/components.css">
</head>

<body>
  <!-- !Main -->
  <main>
    <section class="text-start container text-dark w-100 mt-5">
      <div>
        <a href="../index.html" onclick="goBack()" class="back-home bh-bg"><i class="bx bx-arrow-back"></i> Back to
          Home</a>
      </div>
    </section>
    <section>
      <div class="container my-5">
        <div class="row mb-5">
          <div class="col post-container">
            <div class="mb-5">
              <div class="col-xl pb-5">
                <img src="../imgs/img-thumb-03.jpg" alt="Title Image" class="img-thumbnail" />
              </div>
              <h1 class="fw-bolder pb-3">Is it hard to learn Angular with Javascript from zero?</h1>
              <p>
                But when you encounter a legacy app, or a corporate app, with Angular 10, you realize that you need to
                re-learn your knowledge with the older version. What do you need to re-learn, and why it is important to
                know some basics of AngularJS and the history of Javascript?
              </p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">How you should start your learning Path?</h5>
              <p>I would always start with understanding Javascript. It is great to start with a wrap-up course and
                learn the Javascript es6+. Then you can eventually skip some details and come to them later as it can be
                more beneficial to get back to the details once you start working on some project because then the light
                in your head will pop up and you will start to chain some pieces of knowledge together.</p>
              <p>Secondly, I recommend playing with fetch API and showing data, then altering it. The really best way is
                to start with something dummy, there are a lot of resources such as this: https://random-data-api.com/
              </p>
              <p>Don’t jump directly into Angular</p>
              <P>After you get your basics in Javascript, don't jump directly to Angular, but try to take 2–4 weeks of
                learning Jquery and play with some SVG libraries, just to get the feeling of how you include the
                libraries into in your index.html, how does it work. Try to check what files are calling, how big the
                libraries are etc.
              </P>
              <p>
                It is also possible that at that point you will find some specific topic in Javascript you don’t
                understand, then I recommend checking this topic and reviewing your Javascript knowledge again
              </p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">Now you are ready to start learning Angular</h5>
              <p>When your foundation is strong, you can jump to learn Angular or any other front-end framework. The
                best thing to do now is to go via the official Angular tutorial. In that tutorial, you can see a small
                project developed with Angular. Then when you finish the project, it's great to start reading the
                documentation and think about the concepts: Angular components, Directives, and Pipes. Or you can check
                some courses on Udemy.</p>
              <p>I’ve created a theoretical concept to handle in Angular by category:</p>
              <div class="px-5">
                <p>
                  <strong>Beginners concepts:</strong>
                  Angular — Components, Directives, RxJs, pipe vs template functions
                </p>
                <p>
                  <strong>Advanced concepts:</strong>
                  Project structure, Lazy loading, Subjects and Data streams, NgRx, unit tests, nx monorepo, Standalone
                  components
                </p>
                <p>
                  <strong>Expert concepts:</strong>
                  Decide whether to use a state management library or have internal data in an observable, decide on
                  where the data logic will be stored (if in components, service facades, or helper methods), know your
                  logic layers, decide about typescript configuration, angular configuration. Decide about your zone.js
                  and make speed optimizations….
                </p>
                <p>When you feel that you understand all the concepts, you can check AngularJS and see how it was
                  implemented the old-fashioned way. By understanding this you might even gain a better understanding of
                  the current decision and the direction of the front-end in the future.</p>
              </div>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">And now the weird part again…</h5>
              <p>It is possible that once you master your framework, you might want to go even deeper into Javascript.
                So now is the time to re-learn some javascript concepts and forget about Ajax… Start checking the
                fetch() API, the promise vs. callback vs async/await. Also, you can try to implement the concept of
                observable and subscription in plain javascript to gain a better understanding of the concept. And
                definitely, I recommend checking why IIFEE and closures were so popular in Javascript.</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">Still not done?</h5>
              <p>Well, you might think that you become a Javascript expert by now. But wait. Oh shit. We’ve forgotten to
                mention the Canvas and SVG animations and… game development in Javascript.</p>
              <p><strong>
                  In the end, I want to emphasize the fact that Javascript is like a never-ending story. There are only
                  a few people who can master it all and knows all the corners to the detail. Javascript is such a
                  general language today, that you need to take your niche first and become an expert in that niche and
                  only then you can start to deepen your knowledge. Otherwise, you can be lost in time and even be
                  frustrated.
                </strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <div class="container-xl">
      <div class="footer-inner">
        <div class="row d-flex align-items-center gy-4">
          <div class="col-md-4">
            <span class="copyright">&copy; 2023 Frontend Blogs</span>
          </div>
          <div class="col-md-4 text-center">
            <ul class="social-icons list-unstyled list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bxl-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bxl-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bx-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <a href="#" id="return-to-top" class="float-md-end">
              <i class="bx bx-chevrons-up"></i>
              Back to Top
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="../js/main.js"></script>
</body>

</html>