<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>5 Amazing Things Pure CSS Can Do for You | Frontend Blogs</title>
  <link rel="shortcut icon" href="../imgs/favicon/webt.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/components.css">
</head>

<body>
  <!-- !Main -->
  <main>
    <section class="text-start container text-dark w-100 mt-5">
      <div>
        <a href="../index.html" onclick="goBack()" class="back-home bh-bg"><i class="bx bx-arrow-back"></i> Back to
          Home</a>
      </div>
    </section>
    <section>
      <div class="container my-5">
        <div class="row mb-5">
          <div class="col post-container">
            <div class="mb-5">
              <div class="col-xl pb-5">
                <img src="../imgs/img-thumb-02.jpg" alt="Title Image" class="img-thumbnail" />
              </div>
              <h1 class="fw-bolder pb-3">5 Amazing Things Pure CSS Can Do for You</h1>
              <p>
                Whether you’re a web developer or a designer, CSS will always be one of the important languages that you
                need to use. It’s the go-to stylesheet language that allows us to style web pages and make them look
                gorgeous.
              </p>
              <p>
                Nowadays, there are a lot of CSS frameworks and libraries that developers use to easily write CSS for
                their projects. That allows them to save time and speed up the development process.
              </p>
              <p>However, you need to keep in mind that frameworks and libraries will not give you the full freedom that
                you can have with pure CSS.</p>
              <p>The good thing about using vanilla CSS or what’s called pure CSS is that you can write your custom
                styles from scratch. So you can have more freedom and design customization.</p>
              <p>There are a lot of incredible things that you can create with pure CSS without having to use any
                JavaScript or libraries. The language has a lot of powerful features that you probably may not know
                about.</p>
              <p>That’s why in this article, I will share with you some amazing things that you can create using only
                pure CSS. So let’s get right into it.</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">1. One Page Navigations</h5>
              <p>Did you know that you can create awesome one-page navigations with cool animations using only Pure CSS?
                You don’t even have to write a single line of JavaScript code to achieve that.</p>
              <p>By using the pseudo-class :target , you can create that in CSS. So this useful pseudo-class allows you
                to style the currently active target element.</p>
              <p>Here is a demo example on <a href="https://codepen.io/" class="text-success">Codepen</a> to check it
                out and see how it works:</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">2. Animated Backgrounds</h5>
              <P>Animated gradient backgrounds are one of the most popular effects you can achieve with pure CSS.</P>
              <P>You can create moving and dynamic backgrounds with CSS animations that will catch the attention of any
                visitor.</P>
              <p>Here is another demo example on <a href="https://codepen.io/" class="text-success">Codepen</a> to see
                how you can create such gradient backgrounds:</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">3. Custom Checkboxes</h5>
              <p>With a few lines of CSS code, you can create visually appealing custom checkboxes. This is easily
                achieved by the pseudo-element :checked with some after and before pseudo-elements.</p>
              <p>Have a look at the example on <a href="https://codepen.io/" class="text-success">Codepen</a> to see how
                amazing is that:</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">4. Parallax Scrolling</h5>
              <p>Have you ever seen a website where the images seem to move at different speeds as you scroll down?
                That’s called parallax scrolling, and it’s an amazing popular design technique these days.</p>
              <p>It creates a cool 3D effect by moving different layers of content at different speeds. And guess what?
                You don’t even need JavaScript to make it happen!</p>

              <p>You can have a look at the <a href="https://codepen.io/" class="text-success">Codepen</a> demo below to
                check that out:</p>
            </div>
            <div class="mb-5">
              <h5 class="fw-bold mb-3">5. Smooth Scrolling</h5>
              <p>Pure CSS can also be used to create some smooth scrolling effects. This is possible thanks to the CSS
                property scroll-behavior.</p>
              <p>All you need to do is to set the property value to smooth as you can see in the code below:</p>
              <p>You can have a look at the demo <a href="https://codepen.io/" class="text-success">Codepen</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <div class="container-xl">
      <div class="footer-inner">
        <div class="row d-flex align-items-center gy-4">
          <div class="col-md-4">
            <span class="copyright">&copy; 2023 Frontend Blogs</span>
          </div>
          <div class="col-md-4 text-center">
            <ul class="social-icons list-unstyled list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bxl-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bxl-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bx bx-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <a href="#" id="return-to-top" class="float-md-end">
              <i class="bx bx-chevrons-up"></i>
              Back to Top
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="../js/main.js"></script>
</body>

</html>